<!-- Seção de Conteúdo Principal -->
<aside class="container-fluid col-12 mt-3">
    <div class="row justify-content-center">
        <img src="./assets/img/imagem2.jpeg" alt="Publicidade" class="img-fluid custom-img-ad mb-4 shadow-lg rounded">
    </div>
</aside>

<!-- Seção de Publicidade -->
<div class="container-fluid">
    <div class="row justify-content-center align-items-stretch mt-3">
        <!-- Artigo principal -->
        <article class="col-12 col-md-6 p-auto d-flex align-items-stretch">
            <a href="#" data-section="gremio" class="w-100">
                <img src="./assets/img/imagem-1.jpg" alt="Notícia" class="img-fluid custom-img-ad-main shadow rounded h-100">
            </a>
        </article>

        <!-- Seção de Vídeos ou Destaques -->
        <aside class="col-12 col-md-3 mt-4 mt-md-0 d-flex align-items-stretch">
            <div class="embed-responsive embed-responsive-16by9 shadow rounded w-100">
                <iframe class="embed-responsive-item h-100" src="https://www.youtube.com/embed/videoid" allowfullscreen></iframe>
            </div>
        </aside>

        <!-- Outro Artigo -->
        <article class="col-12 col-md-3 mt-4 mt-md-0 d-flex align-items-stretch">
            <a href="#" data-section="coronavirus" class="w-100">
                <img src="./assets/img/tde2-corona.jpg" alt="Notícia" class="img-fluid custom-img-ad-main shadow rounded h-100">
            </a>
        </article>
    </div>
</div>
