
    <div class="d-flex flex-row">
        <p class="col-md-2 highlights-label">Destaques:</p>
        <nav class="col-lg-10 ms-4 flex-row-reverse highlights-nav">
            <a href="https://gauchazh.clicrbs.com.br/?audio_autoplay=true" class="me-3">Ouça a Gaúcha</a>
            <a href="#" class="me-3" data-section="coronavirus">Coronavírus</a>
            <a href="#" class="me-3" data-section="gremio">Grêmio</a>
            <a href="#" class="me-3" data-section="inter">Inter</a>
        </nav>
    </div>
